.main{
    margin-top: 20px;
    margin-bottom: 0%;
}

.restaurantTitle{
    display: flex;
    font-weight: Bold;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.restaurantName {
    margin-left: 10px;
}

.userLocation {
    position: fixed;
    bottom: 40px;
    left:0;
    right:0;
    padding-left: 5%;
    padding-right: 5%;
    height: 150px;
    background-color: #e1e1e1;
}

.menuDetails{
    margin: 5%;
}


.menuItem {
    background-color: #d4d4d4;
    margin-bottom: 1%;

}

.fixed{
    position: sticky;
}