.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
} 


.restaurant-overall{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}


.restaurant-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-size: 17px;
    margin-left: 10px;
}

.restaurant-info{
    display: flex;
    flex-direction: row;

}

.money{
    margin-left: 10px;
    font-size: 1px;
    padding-right: 0px;
}

.restaurant-image{

    width: 20%;
}   


.search{
    width: 80%;
}


/* <img 
    src={`${item.coverImg}`}
    className="restaurant-image" 
/>
<div className="restaurant-stats">
    <span className='name'>{item.name}</span>
    <div className='restaurant-info'>
        <span className='money'><AttachMoneyIcon></AttachMoneyIcon></span>
        <span className='price'>{item.price} • </span>
        <span className="desc">{item.description}</span>
    </div>
</div>
</> */