.main {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;;
    margin-bottom: 10%;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
} 

.restaurant{
    width: 95%;
}

.restaurant-overall{
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-height: 30%;
    width: 100%;
    margin-bottom: 10px;
    background-color: #d6d6d6;
}


.restaurant-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.name{
    font-size: 1.1em;
    margin-left: 15px;
    font-weight: bold;
    font-family: "Lato";
}

.restaurant-info{
    display: flex;
    flex-direction: row;

}

.money{
    margin-left: 10px;
    font-size: 1px;
    padding-right: 0px;
}

.restaurant-image{
    width: 20%;
}   

.search{
    width: 95%;
}


/* <img 
    src={`${item.coverImg}`}
    className="restaurant-image" 
/>
<div className="restaurant-stats">
    <span className='name'>{item.name}</span>
    <div className='restaurant-info'>
        <span className='money'><AttachMoneyIcon></AttachMoneyIcon></span>
        <span className='price'>{item.price} • </span>
        <span className="desc">{item.description}</span>
    </div>
</div>
</> */