.searchingForBrosBodyText{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.broContact{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 4%;
}

.broContactTitle{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 130%;
}