
.backDiv{
    padding-left:3%
}

.header{
    font-weight: 600;
    font-size: 3.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 2%;
    margin-top: 15px;
    word-wrap: break-word;
    line-height: 80%;
    width: 4.7em;
}

.orderHeader{
    display: flex;
    justify-content: space-between;
}

#root{
    padding: 0px;
}

.profileTopBar{
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
}