.app{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight:bold;
    margin-top: 10px;
  }

.title{
    display: flex;
    font-weight: bold;
}

.qty{
    margin-left: 66%
}


.customOrderDetails{
    margin-top: 20px;
    height: fit-content;
    scrollbar-color: rgb(201, 201, 201) #e1e1e1;
}

.bottomTab{
    display: flex;
    justify-content: space-between;
    margin: 15%;
}